<h3>Hi, <%= @user.name %>!</h3>

<p>Thanks for signing up to Linguathon. According to our records, you are studying <%= @user.language_studied.capitalize %> at <%= @user.tier %> tier and have access to all the exam board vocabulary for that.</p>
<p>We hope that by training daily with Linguathon, you'll soon develop a solid bank of vocabulary that will help you succeed in your exams. Don't forget to train regularly, with a wide variety of topics, in order to unlock the achievements, complete daily challenges and earn lots of points!</p>
<p>Good luck and have fun learning!</p>