
<div class="homepage-hero-module">

    <div class="video-container">
    	<div class="maintext">
    	<h1 style="font-size: 60px;">Learn GCSE vocabulary on the move with daily 10-minute challenges</h1>
    	<%= button_to "Sign Up Free Now", new_user_registration_path, :method => "get", :class => "training-button" %>
    	</div>
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="Procrastination.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="assets/videos/WEBM/Procrastination.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <h1>Text in Video Filter Div</h1>
        </video>
        <div class="poster hidden">
            <img src="./assets/videos/Snapshots/Procrastination.jpg" alt="">
        </div>
    </div>
</div>
