<div class="container-fluid devise-form">
  <div class="row">
      <h2>Frequently Asked Questions</h2>
    <div class="col-lg-12 faq">
    	<h4>What is Linguathon?</h4>
    	<p>Linguathon is a language-learning app that provides daily ten-minute vocabulary challenges. You can choose from a range of topics, word types and familiarity in order to quickly broaden your vocabulary.</p>
		<br>
    	<h4>Who is Linguathon for?</h4>
    	<p>Linguathon is primarily aimed at GCSE students in the UK, because the vocabulary is taken directly from the exam board specifications. However, the app can also help people of any age to improve their foreign language skills. You'll need to know the basics already - the vocabulary is a bit beyond 'cat' and 'dog' - but our staged method will help you progress in no time.</p>
		<br>
    	<h4>How does it work?</h4>
    	<p>Once you've signed up for free and selected your exam tier ('higher' will give you access to all the vocabulary if you're not sure which to choose), you can get started with creating a new training session straight away. Choose your topic, stage and word type - useful for revising for specific class tests, for example - or Linguathon can provide a mixture if you prefer.</p>
    	<p>In order to help you progress, Linguathon will give you different question types depending on how well you know the vocabulary already. If you've never seen it before, or only got it right once or twice (Stages 0-1), you'll be given a multiple choice question. If you've answered correctly a few times (Stages 2-3), you'll have to type it in yourself but with jumbled-up letters to help you. And once you're confident with the word (Stages 4-5), you're on your own!</p>
		<br>
    	<h4>How can I get the most out of Linguathon?</h4>
    	<p>Train every day, even if it's just for a few minutes. Language learning is a marathon, not a sprint. You'll do much better practising a few words on a very regular basis, than if you try to cram a whole topic's worth of vocab into your brain just before the exam.</p>
    	<p>The Linguathon method is based on current pedagogical theory and created by an experienced language teacher. By revisiting words/topics and gradually increasing the difficulty of the questions, you will store the vocabulary in your long-term memory much more quickly - meaning it will stick in your head, even under the pressure of being in an exam or having to use it for real when abroad.</p>
		<br>
    	<h4>Why do I have to use genders/correct spelling/accents/capital letters? It's so annoying!</h4>
    	<p>We know, but it's still really important. You might think it doesn't matter, but for example, the gender of a noun affects so many other parts of a sentence (adjective agreements, prepositions etc) that you really do need to know it. It's easier to learn a word correctly in the first place - including how to spell it and the gender - than to have to re-learn it later with new information.</p>
		<br>
    	<h4>Why can't I create a new training session? It says I need to try a different combination.</h4>
    	<p>Each training session consists of ten words selected from the exam board vocabulary. If there aren't enough words that fit all your requirements, you might need to broaden out a bit. The most common issues are: 1) a conflict of word types and topic (for example, there aren't any verbs in the Prepositions topic, surprisingly!) and 2) not having enough words of a certain stage yet (if you've just started, you won't have ten Stage 3 words, for example).</p>
		<br>
    	<h4>What are the points and achievements?</h4>
    	<p>Every word you get right will earn you points - check out the daily challenge to find out which words will give you extra points that day! Eventually, you'll be able to spend your points on rewards in our shop, but we're still developing that right now.</p>
    	<p>There are also a number of unlockable achievements, which you can get by training for a certain number of days in a row, learning lots of vocabulary, completing topics and much more. The more you train, the more trophies you'll win - and you'll improve your language skills at the same time.</p>
    </div>
  </div>
</div>
