<div class="container-fluid devise-form">
  <div class="row">
      <h2>Latest News</h2>
    <div class="col-lg-12 faq">
    	<h3>Linguathon is live!</h3>
    	<small>Posted <%= Time.now.strftime("%d %b %y") %></small>
    	<br><br>
    	<p>We're proud to present our new language-learning app, which helps you learn GCSE vocabulary through short daily challenges.</p>
    	<p> Our current features:</p>
    		<ul>
    			<li class="feature-list">All the vocabulary you need to know for the German GCSE exam, both higher and foundation. We're using the AQA specification at the moment but it's useful even if you're with another exam board.</li>
    			<li class="feature-list">Different question types depending on how familiar you are with the word (including multiple choice, anagrams and translation).</li>
    			<li class="feature-list">Personalised training sessions. Learn particular topic vocabulary to help you with class tests, practise specific word types, focus on words you're struggling with, or let Linguathon create a general training session to revise for the exam.</li>
    			<li class="feature-list">Daily streak - get bonuses for training every day.</li>
    			<li class="feature-list">Daily challenges - earn extra points each day when you train particular topics or word types.</li>
    			<li class="feature-list">Unlockable achievements</li>
    		</ul>
    	<p>Coming soon:</p>
    		<ul>
    			<li class="feature-list">French and Spanish GCSE vocabulary</li>
    			<li class="feature-list">Linguathon store where you can spend your points on in-game rewards</li>
    			<li class="feature-list">Class leaderboards so you can compete against your classmates</li>
    			<li class="feature-list">Verb conjugation practice</li>
    			<li class="feature-list">New question types, including listening</li>
    		</ul>
    	<p>Let us know if you have any comments or suggestions!</p>
    </div>
  </div>
</div>