// Place all the styles related to the Trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  New Training */

.new-training {
	background-color: #111111;
 	opacity: 0.8;
 	filter: alpha(opacity=80);
 	color: white;
 	padding: 10px;
 	margin: 20px;
 	width: 95%;
 	border-radius: 5px;
 	text-align: center;
}

.training-form {
	background-color: #f5f5f5;
	opacity: 0.8;
 	filter: alpha(opacity=80);
 	color: black;
 	margin: 10px 10px 10px 26px;
 	padding: 10px;
 	border-radius: 5px;
 	max-width: 95%;
}


/* Show training */

.display-trainings {
	background-color: #ffffff;
	opacity: 1;
 	filter: alpha(opacity=100);
 	padding: 20px;
 	margin-left: 150px;
}

.table-headings {
	margin: 10px 10px 10px 10px;
	padding: 10px 15px 10px 15px;
	font-size: 20px;
	font-weight: bold;
}

.words-to-train {
	margin: 10px 10px 10px 10px;
	padding: 10px 15px 10px 15px;
	text-align: left;
}


/* Training */

.training-2, .training-3, .training-4, .training-5, .training-6, .training-7, .training-8, .training-9, .training-10  {
	display: none;
}