// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Front Page */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*   User Show Page */

.user-page {
	padding: 10px;
	color: white;
}

.mini-header {
	background-color: #f5f5f5;
	opacity: 0.8;
 	filter: alpha(opacity=80); /* For IE8 and earlier */
 	color: black;
 	width: 100%;
 	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
 	margin-left: -11px;
 	margin-top: -10px;
 	margin-bottom: 10px;
 	padding: 3px;
 	width: 106%;
}

.trophy-cabinet {
	background-color: #111111;
 	opacity: 0.8;
 	filter: alpha(opacity=80); /* For IE8 and earlier */
 	box-sizing: border-box;
 	border-radius: 5px;
 	padding:10px;
 	margin: 10px;
 	text-align: center;
}

.trophies {
	background-color: white;
	display: inline-block;
	width: 90%;
	margin: 10px;
	border-radius: 5px;
}

.trophy-cabinet img {
	height: 100px;
	padding: 10px;
}

.training-button {
	width: 250px;
	margin: 15px;
	margin-left: 70px;
	padding: 5px;
	color: black;
	font-size: 20px;

}

.recent-trainings {
	background-color: #111111;
 	opacity: 0.8;
 	filter: alpha(opacity=80); /* For IE8 and earlier */
 	box-sizing: border-box;
 	border-radius: 5px;
 	padding:10px;
 	margin: 10px;
 	text-align: center;
}


.stat-box {
	background-color: #111111;
 	opacity: 0.8;
 	filter: alpha(opacity=80); /* For IE8 and earlier */
 	box-sizing: border-box;
 	border-radius: 5px;
 	padding:10px;
 	margin: 10px;
 	text-align: center;
}

/* Sign-up / Log-in */

.devise-form {
	background-color: #111111;
 	opacity: 0.8;
 	filter: alpha(opacity=80);
 	color: white;
 	padding: 10px;
 	margin: 20px;
 	width: 95%;
 	border-radius: 5px;
 	text-align: center;
}

.user-form {
	background-color: #f5f5f5;
	opacity: 0.8;
 	filter: alpha(opacity=80);
 	color: black;
 	margin: 10px 10px 10px 26px;
 	padding: 10px;
 	border-radius: 5px;
 	max-width: 95%;
}